Could you provide latestdomains.txt as host-format for piHole?

hi, Could you provide a latestdomains.txt that is prepared for the network-wide blocker [piHole](https://pi-hole.net/)? Many people world wide can benefit from your work, if we get your [list](https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt) included into https://github.com/StevenBlack/hosts - For that a host-format would be needed: It's simply like 
0.0.0.0 example.com
0.0.0.0 example2.com
so for people running a piHole sbc at home the malware-domains get resolved to 0.0.0.0 https://github.com/FadeMind/hosts.extras/issues/45 - here is a consolidated [example list](https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts) 

Hi @tscpd,

Should be easy for me to make it.
Can you give me more information about the list format? Is 0.0.0.0 a standard prefix for any listed domain?

Can you provide me some docs or article explaining the desired format?

Thanks.

Is it good for you this way?
- https://github.com/davidonzo/Threat-Intel/blob/master/lists/latestdomains.piHole.txt
- https://osint.digitalside.it/Threat-Intel/lists/latestdomains.piHole.txt

> Can you give me more information about the list format? Is 0.0.0.0 a standard prefix for any listed domain?
> 
> Can you provide me some docs or article explaining the desired format?

Yes, in the past the piHole was resolving unwanted/malicious domains to 127.0.0.1 which appears to have some disadvantages to 0.0.0.0 - See here: https://docs.pi-hole.net/ftldns/blockingmode/
**This blocking mode is the Pi-hole developers' recommendation.**

Following RFC 3513, Internet Protocol Version 6 (IPv6) Addressing Architecture, section 2.5.2, the address 0:0:0:0:0:0:0:0 (or :: for short) is the unspecified address. It must never be assigned to any node and indicates the absence of an address. Following RFC1122, section 3.2, the address 0.0.0.0 can be understood as the IPv4 equivalent of ::.

Thank you very much for being responsive and willed to contribute!